html {
    position: relative;
    min-height: 100%;
}

body {
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin-bottom: 90px;
}

body.mainbg {
    background: url("../img/bg1.jpg") center bottom fixed;
    background-size: 100%;
}

h1.nomargin {
    margin-top: 0;
}

.page-header > h1 {
    margin-bottom: 0;
}

.navbar.navbar-qs {
    background-color: black;
    min-height: 51px;
    border-bottom: solid 1px white;
    box-shadow: 0px 3px 4px 3px #333333;
    color: white;
}

.navbar-qs a {
color: white;
}

.navbar-qs li > a:hover, .navbar-qs li > a:focus, .navbar-qs li > a:active {
background-color: #444444;
}

.head-no {
    padding-top: 75px;
    box-shadow: 0px 3px 4px 3px #333333;
}

.head-tf1 {
    padding-top: 75px;
    box-shadow: 0px 3px 4px 3px #333333;
 /*   background: url("../img/tf0.jpg") center center; */
}

.head-n {
    padding-top: 50px;
    background: url("../img/h3.jpg") center center;
    background-size: 200%;
    box-shadow: 0px 3px 4px 3px #333333;
}

.head-bg1 {
    background: url("../img/bg1.jpg") center center;
}

.head-g {
    padding-top: 70px;
    height: 500px;
    background: url("../img/h3.jpg") center center;
    background-size: 200%;
    box-shadow: 0px 3px 4px 3px #333333;
}

.head-g img {
    max-width: 100%;
    height: auto;
}

.head-g h1 {
    padding-top: 20px;
    margin-top: 0;
    color: #fff;
    text-shadow: 4px 4px 5px #000000;
    font-size: xx-large;
}

.divider {
    color: black;
    height: 20px;
    line-height: 10px;
}

.head-g p {
    margin-top: 0;
    color: #fff;
    text-shadow: 4px 4px 5px #000000;
    font-size: x-large;
}

.panel-e {
    margin-top: 10px;
    padding-top: 70px;
    padding-bottom: 70px;
    background-size: 120%;
}

.panel1 {
    background: url("../img/bg2.jpg") center center;
    background-size: 120%;
}

.panel2 {
    background: url("../img/bg3.jpg") center center;
    background-size: 120%;
}

.panel3 {
    background: url("../img/bg4.jpg") center center;
    background-size: 120%;
}

.panel4 {
    background: url("../img/bg5.jpg") center center;
    background-size: 120%;
}

.ta1 {
    color: white;
    box-shadow: 0px 3px 4px 3px #333333;
}

.ta-b {
    color: black;
    box-shadow: 0px 3px 4px 3px #333333;
}

.navbar-toggle {
    border: 1px solid white;
    color: white;
}

.navbar-toggle > .icon-bar {
    color: white;
    border: 1px solid white;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 90px;
    margin-top: 10px;
    font-size: 14px;
    border-top: 1px solid black;
    background-color: lightgray;
   /* background: url("../img/bg1.jpg") center bottom fixed; */
}

.headername {
    font-family: "Times New Roman", sans-serif;
    font-size: 38px;
    line-height: 50px;
    display: inline-block;
    color: white;
    padding-top: 6px;
}

.headername > .sub {
    font-size: 28px;
}

.headername > img {
    margin-bottom: 5px;
    vertical-align: middle;
}

#qs-quote {
    font-style: italic;
}

/* From https://raw.githubusercontent.com/mojombo/tpw/master/css/syntax.css */
/* .highlight  { background: #ffffff; } */
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d14 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */

.red {
    color: darkred;
}

.green {
    color: darkgreen;
}

.cmd {
    border: 1px solid black;
    margin-bottom: 5px;
}

.cmd > .collapseablepanel {
    border-top: 1px solid black;
    display: none;
    background: #cff8ff;
}

.command > .c {

}

.cmd > .command {
    cursor: pointer;
    background: #5c93e2;
    color: white;
    padding: 0 5px;
    line-height: 32px;
    font-size: 16px;
    font-style: italic;
}

.cmd .int {
    padding: 2px 5px;
}

.cmd > .std {

}

.std span {
    margin-right: 5px;
}

div.command {
    width: 100%;
    border: black 1pt solid;
    margin-bottom: 5px;
    background: white;
}

div.command > div {
    padding: 3px 5px;
}

div.command > .command-head {
    font-size: x-large;
    border-bottom: black 1pt solid;
    background: aliceblue;
}

.command-head > a {
    text-underline: none;
    color: black;
}

a.anchor {
    display: block;
    position: relative;
    top: -70px;
    visibility: hidden;
}

div.command > .command-description {
    font-size: large;
    font-weight: 600;
}

div.command > .command-head > .command-module {
    font-size: medium;
    float: right;
    vertical-align: bottom;
}

div.command-usage > p {
    margin-bottom: 3px;
}

h1, h2, h3, h4 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
}

.modspec > h1 {
    margin-top: 0;
    margin-bottom: 0;
    display: block;
    border-bottom: 1px lightgray solid;
}

.nav-tabs > li > a {
    background-color: #e0e0e0;
}

.bg-colour img {
    max-width: 100%;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}

.fill-height {
    height: 100%;
}

.filter {
    /* border: solid black 1px; */
}

.bold {
    font-weight: bold;
}

.panel-heading h4 {
    margin: 0;
}

.panel-heading {
    color: #000 !important;
}

.rtext {
    text-align: right;
}

.tcmargin {
    margin-top: 10px;
}

.demargin h2#introduction:first-child {
    margin-top: 0;
}

a.cola[aria-expanded=true] > span.h {
    display: none;
}

a.cola[aria-expanded=false] > span.s {
    display: none;
}

h2.notop {
    margin-top: 0;
}