---
layout: standardheadmd
title: Compatibility Assistant
header: Compatibility Assistant
---

{% assign all = site.data.compatibility %}
{% assign modules = all.modules %}
<div class="row">
    <div class="col-xs-12">
        <p>
            Unfortunately, not all plugins and mods are 100% compatible with Nucleus. This page lists some of the known
            issues, and what you can do to work around the issues.
        </p>
        <p>
            If you know of another incompatibility, please visit us on Discord and talk to us about it.
        </p>
    </div>
</div>

<div class="row row-eq-height">
    <div class="col-sm-12 filter">
        <div class="form-inline">
            <div class="form-group">
                <span class="checkbox-inline bold">Modules: </span>
            {% for mod in modules %}
                <label class="checkbox-inline">
                    <input type="checkbox" id="{{ mod }}" value="{{ mod }}" checked="checked"> {{ mod }}
                </label>
            {% endfor %}
            </div>
            <div class="form-group">
                <span class="checkbox-inline bold">Mods/Plugins: </span>
            {% for mod in all.mods %}
                <label class="checkbox-inline">
                    <input type="checkbox" id="{{ mod.id }}" value="{{ mod.id }}" checked="checked"> {{ mod.name }}
                </label>
            {% endfor %}
            </div>
        </div>
    </div>
</div>

{% for w in all.json.messages %}
{% include issue.html w=w s=3 %}
{% endfor %}

{% for w in all.json.messages %}
{% include issue.html w=w s=2 %}
{% endfor %}

{% for w in all.json.messages %}
{% include issue.html w=w s=1 %}
{% endfor %}

{% for w in all.json.messages %}
{% include issue.html w=w s=0 %}
{% endfor %}