<!DOCTYPE html>
{% if page.moduleid %}
<html data-module-id="{{ page.moduleid }}" data-module-name="{{ page.modulename }}">
{% else %}
<html>
{% endif %}
<head>
    <title>Nucleus {{ page.title }}</title>
    <link rel="stylesheet" href="{{ base }}/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ base }}/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="{{ base }}/css/my.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="{{ base }}/js/jquery.js"></script>
    <script src="{{ base }}/js/jquery.stellar.min.js"></script>
    <script src="{{ base }}/js/bootstrap.min.js"></script>
    <script src="{{ base }}/js/main.js"></script>

    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
    <script>
        window.addEventListener("load", function(){
            window.cookieconsent.initialise({
                "palette": {
                    "popup": {
                        "background": "#000"
                    },
                    "button": {
                        "background": "#f1d600"
                    }
                },
                "theme": "edgeless",
                "position": "bottom-right",
                "content": {
                    "message": "This website uses cookies to store your documentation preferences."
                }
            })});
    </script>
</head>
{% if page.pageclass %}
<body class="{{ page.pageclass }}">
{% else %}
<body>
{% endif %}
<nav class="navbar navbar-fixed-top navbar-qs">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="line-height: 50px; padding: 4px 10px 0 10px;" href="{{ base }}/index.html"><img alt="Nucleus" src="{{ base }}/img/logo.png"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{{ base }}/index.html">Home</a></li>
                <li><a href="{{ base }}/news">News</a></li>
                <li><a target="_blank" href="https://ore.spongepowered.org/Nucleus/Nucleus/versions">Download</a></li>
                <li><a href="{{ base }}/docs">Docs</a></li>
                <li><a href="{{ base }}/docs/faqs.html">FAQs</a></li>
                <li><a href="{{ base }}/docs/commands2.html">Commands</a></li>
                <li><a href="{{ base }}/terrafirma">Terrafirma</a></li>
                <li><a target="_blank" href="https://github.com/NucleusPowered">GitHub</a></li>
            </ul>

        </div>
    </div>
</nav>
