{% case include.s %}
{% when 3 %}
{% assign sev = "panel-danger" %}
{% assign type = "Critical" %}
{% when 2 %}
{% assign sev = "panel-warning" %}
{% assign type = "Major" %}
{% when 1 %}
{% assign sev = "panel-default" %}
{% assign type = "Minor" %}
{% when 0 %}
{% assign sev = "panel-info" %}
{% assign type = "Info" %}
{% endcase %}

{% if include.r %}

<div class="row">
    <div class="col-xs-12">
        <div class="panel {{ sev }}">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12">
                        <h4>Some mods or plugins may conflict with this module</h4>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                The highest rating mod/plugin compatibility issue is rated <strong>{{ type | downcase }}</strong>.
                See <a data-activate="#compatibility" href="#compatibility">the compatibility tab</a> for more information.
            </div>
        </div>
    </div>
</div>

{% elsif include.s == include.w.severity %}
{% assign mod = site.data.compatibility.mods | where: "id", include.w.modid | first %}
{% assign modules = include.w.modules | join: ', ' %}

<div class="row" data-mod="{{ include.w.modid }}" data-modules="{{ modules }}">
    <div class="col-xs-12">
        <div class="panel {{ sev }}">
            <div class="panel-heading">
                <div class="row row-eq-height">
                    <div class="col-md-10 col-sm-9 col-xs-8">
                        <div>
                            <strong>Mod/Plugin:</strong> {{ mod.name }}. <strong>Affected Module(s):</strong> {{ modules | default: "all" }}.
                        </div>
                        <h4>{{ include.w.symptom }}</h4>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-4 rtext">
                        {{ type }}
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <p>
                    <strong>Reason: </strong> {{ include.w.message }}
                </p>
                <p>
                    <strong>Resolution: </strong> {{ include.w.resolution }}
                </p>
            </div>
        </div>
    </div>
</div>
{% endif %}