{% if include.s == include.w.severity %}
{% assign mod = site.data.compatibility.mods | where: "id", include.w.modid | first %}
{% assign modules = include.w.modules | join: ', ' %}
<div class="row" data-mod="{{ include.w.modid }}" data-modules="{{ modules }}">
    <div class="col-xs-12">
        {% case include.s %}
            {% when 3 %}
            <div class="panel panel-danger">
            {% when 2 %}
            <div class="panel panel-warning">
            {% when 1 %}
            <div class="panel panel-default">
            {% when 0 %}
            <div class="panel panel-info">
        {% endcase %}
            <div class="panel-heading">
                <div class="row row-eq-height">
                    <div class="col-md-10 col-sm-9 col-xs-8">
                        <div>
                            <strong>Mod/Plugin:</strong> {{ mod.name }}. <strong>Affected Module(s):</strong> {{ modules | default: "all" }}.
                        </div>
                        <h4>{{ include.w.symptom }}</h4>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-4 rtext">
                        {% case include.s %}
                        {% when 3 %}
                        Critical
                        {% when 2 %}
                        Major
                        {% when 1 %}
                        Minor
                        {% when 0 %}
                        Info
                        {% endcase %}
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <p>
                    <strong>Reason: </strong> {{ include.w.message }}
                </p>
                <p>
                    <strong>Resolution: </strong> {{ include.w.resolution }}
                </p>
            </div>
        </div>
    </div>
</div>
{% endif %}