<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>
            Command
        </th>
        <th>
            Base Permission
        </th>
        <th>
            Description
        </th>
    </tr>
    </thead>
    <tbody>
    {% assign com = site.data.commands | where: "module", page.moduleid %}
    {% for cmds in com %}
    <tr>
        <td>
            /{{ cmds.commandName }}
        </td>
        <td>
            {% if cmds.permissionbase == nil or cmds.permissionbase == "" %}
            <em>none</em>
            {% else %}
            {{ cmds.permissionbase }}.base
            {% endif %}
        </td>
        <td>
            {% if cmds.oneLineDescription %}
            {{ cmds.oneLineDescription }}
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>