{% assign permissions = site.data.permissions | where: "module", page.moduleid %}
{% if permissions.size > 0 %}
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>
            Permission
        </th>
        <th>
            Suggested Role
        </th>
        <th>
            Description
        </th>
    </tr>
    </thead>
    <tbody>
    {% for cmds in permissions %}
    <tr>
        <td>
            {{ cmds.permission }}
        </td>
        <td>
            {{ cmds.defaultLevel }}
        </td>
        <td>
            {{ cmds.description }}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<em>There are no permissions to set for this module.</em>
{% endif %}