{% include header.html %}
{% include title.html %}
<div class="bg-colour" style="margin-top: 20px;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12" style="padding-top: 10px;">
                <a href="../">&laquo; Return to Documentation Home Page</a>
                <div class="alert alert-warning" style="margin-top: 5px;" role="alert"><strong>Pre-release documentation.</strong> Things are likely to change before final release.</div>
                <h2>Module Information</h2>
                <strong>Module ID: </strong><em>{{ page.moduleid }}</em><br />
                <strong>Module name: </strong><em>{{ page.modulename }}</em>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                {{content}}

                <h2>Commands</h2>

                {% include modulecommands.html %}

                <h2>Permissions</h2>

                {% include modulepermissions.html %}
            </div>
        </div>
    </div>
</div>
{% include footer.html %}