{% include header.html %}
<div class="head-n">
    {% include pre-release.html %}
</div>
<div class="bg-colour" style="margin-top: 20px;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12" style="padding-top: 10px;">
                <a href="../">&laquo; Return to Documentation Home Page</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 modspec">
                <h1>Module: {{ page.modulename }} <small>- Module ID: {{ page.moduleid }}</small></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">

                <div style="margin-top: 10px;">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#info" aria-controls="home" role="tab" data-toggle="tab">Module Information</a></li>
                        <li role="presentation"><a href="#commands" aria-controls="profile" role="tab" data-toggle="tab">Commands</a></li>
                        <li role="presentation"><a href="#permissions" aria-controls="messages" role="tab" data-toggle="tab">Permissions</a></li>
                        <li role="presentation"><a href="#conf" aria-controls="config" role="tab" data-toggle="tab">Configuration</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="info">
                            {{content}}
                        </div>
                        <div role="tabpanel" class="tab-pane" id="commands" style="margin-top: 10px;">
                            {% include modulecommands2.html %}
                        </div>
                        <div role="tabpanel" class="tab-pane" id="permissions">
                            {% include modulepermissions.html %}
                        </div>
                        <div role="tabpanel" class="tab-pane" id="conf" style="margin-top: 10px;">
                            {% if site.data.conf[page.moduleid] %}
                            <em>The following configuration is the default for this module:</em>
                            <pre>
{{ site.data.conf[page.moduleid] | replace: '<', '&lt;' | replace: '>', '&gt;' | replace: '\n', '<br />' }}
                            </pre>
                            {% else %}
                            <em>There is no configuration for this module.</em>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include footer.html %}