{% include header.html %}
<div class="head-n">
</div>
<div class="bg-colour" style="margin-top: 20px;">
    <div class="container">
        {% if page.nolink == null %}
        <div class="row">
            <div class="col-xs-12" style="padding-top: 10px;">
                <a href="{{ base }}/docs">&laquo; Return to Documentation Home Page</a>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-xs-12" style="padding-top: 10px;">
                <div class="alert alert-warning" role="alert">
                    <span class="glyphicon glyphicon-alert" aria-hidden="true"></span> <strong>These pages are for Nucleus version 1.14.x and are no longer updated.</strong> If you are using Nucleus 2, <a href="https://v2.nucleuspowered.org/">please visit the current docs pages instead</a>.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                {% if page.header %}
                <h1 class="nomargin">{{ page.header }}</h1>
                {% endif %}

                {{content}}
            </div>
        </div>
    </div>
</div>
{% include footer.html %}